.body1 {
  padding: 32px;
  background: linear-gradient(89.77deg, #FEFFFF 69.7%, #135CFB 307.08%, #0B57FB 307.11%);
  min-height: 100vh;
}

.body1 .containerf .digisize {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #0B57FB;
}

.body1 .containerf .row .col-lg-6 .mini-container {
  width: 60%;
  margin: 0 auto;
}

.body1 .containerf .row .col-lg-6 .mini-container h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #3F3D56;
  margin-bottom: 59px;
}

.body1 .containerf .row .col-lg-6 .mini-container .save {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 35px;
}

.body1 .containerf .row .col-lg-6 .mini-container .save h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #3F3D56;
  margin-bottom: 0;
}

.body1 .containerf .row .col-lg-6 .mini-container .save p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #808080;
}

.body1 .containerf .row .col-lg-6 .mini-container .save p a {
  font-weight: bold;
}

.body1 .containerf .row .col-lg-6 .mini-container .info1 {
  margin-bottom: 20px;
}

.body1 .containerf .row .col-lg-6 .mini-container .info1 .info p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #808080;
}

.body1 .containerf .row .col-lg-6 .right-side {
  width: 80%;
  margin-left: auto;
  -webkit-transform: scale();
          transform: scale();
}

.body1 .containerf .row .col-lg-6 .right-side .body-tabs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.body1 .containerf .row .col-lg-6 .right-side .body-tabs ul {
  border: none;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  right: 200px;
}

.body1 .containerf .row .col-lg-6 .right-side .body-tabs ul li a {
  padding: 3px 16px;
  background: linear-gradient(180.54deg, #0B57FB -109.48%, rgba(255, 255, 255, 0) 99.53%), linear-gradient(180.54deg, #0B57FB -109.48%, rgba(255, 255, 255, 0) 99.53%);
  border-radius: 5px;
  border: none !important;
}

.body1 .containerf .row .col-lg-6 .right-side .body-tabs ul li .active {
  color: red;
  background: linear-gradient(180.54deg, #417dff -109.48%, rgba(255, 255, 255, 0) 99.53%), #417dff;
}
/*# sourceMappingURL=Body.css.map */