.body1 {
  padding: 32px;
  background: linear-gradient(89.77deg, #FEFFFF 69.7%, #135CFB 307.08%, #0B57FB 307.11%);
  min-height: 100vh;


  .containerf {
    .digisize {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #0B57FB;
    }

    .row {
      .col-lg-6 {
        .mini-container {
          width: 60%;
          margin: 0 auto;

          h4 {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #3F3D56;
            margin-bottom: 59px;
          }

          .save {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            margin: 0 auto;
            margin-top: 39px;
            margin-bottom: 35px;

            h3 {
              font-weight: bold;
              font-size: 22px;
              line-height: 29px;
              text-align: center;
              color: #3F3D56;
              margin-bottom: 0;
            }

            p {
              font-weight: normal;
              font-size: 14px;
              line-height: 17px;
              color: #808080;

              a {
                font-weight: bold;
              }
            }
          }

          .info1 {

            margin-bottom: 20px;

            .info {

              p {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #808080;
              }
            }
          }
        }
      }

      .col-lg-6 {
        .right-side {
          width: 80%;
          margin-left: auto;
          transform: scale();
          // height: 100%;

          .body-tabs {
            position: relative;
            display: flex;
            align-items: center;
            align-items: flex-end;
            // height: 100%;

            .tab-content {
              //   height: 100%;

              div {

                //     height: 100%;
                img {
                  // transform: scaleX(1.5);
                }

              }
            }

            ul {
              border: none;
              margin-bottom: 10px;
              position: absolute;
              bottom: 0;
              right: 200px;

              li {
                a {
                  padding: 3px 16px;
                  background: linear-gradient(180.54deg, #0B57FB -109.48%, rgba(255, 255, 255, 0) 99.53%), linear-gradient(180.54deg, #0B57FB -109.48%, rgba(255, 255, 255, 0) 99.53%);
                  border-radius: 5px;
                  border: none !important;
                }

                .active {
                  color: red;
                  background: linear-gradient(180.54deg, #417dff -109.48%, rgba(255, 255, 255, 0) 99.53%), #417dff;
                }
              }
            }
          }
        }

      }
    }
  }
}