.brands {
  background: #EDEDED;
}

.brands .logo1 {
  text-align: left !important;
  border: none;
}

.brands .logo1 img {
  width: 20px;
  text-align: left !important;
}

.brands .containert {
  width: 70%;
  margin: 0 auto;
  padding-top: 45px;
}

.brands .containert .form {
  text-align: center;
}

.brands .containert .form input {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 26px;
}

.brands .containert ul {
  margin: 0 auto;
  text-align: center !important;
}

.brands .containert ul li {
  color: rgba(19, 92, 251, 0.42);
  padding: 12px;
}

.brands .containert ul li a {
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: rgba(19, 92, 251, 0.42);
  border-radius: 0;
  padding: 0;
}

.brands .containert ul li .active {
  background-color: transparent;
  border-bottom: 1px solid #135CFB;
  color: #0B57FB;
}

.brands .containert ul li:hover a {
  color: #0B57FB;
}

.brands .containert .tab-content h3 {
  font-size: 24px;
  line-height: 29px;
  color: #3F3D56;
  margin-bottom: 52px;
  margin-top: 30px;
}

.brands .containert .tab-content .card {
  padding: 25px 11px 14px 16px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.brands .containert .tab-content .card .box3 {
  height: 50px !important;
}

.brands .containert .tab-content p {
  font-size: 12px;
  line-height: 14px;
  color: #3F3D56;
  margin: 0;
}

.brands .containert .tab-content button {
  border: none;
  outline: none;
  background-color: transparent;
  display: inline-block !important;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #135CFB;
  margin-left: auto;
  margin-top: 15px;
}

.modal-content {
  padding-bottom: 40px;
}

.modal-content .container .tab-brand ul {
  margin: 0 auto;
  text-align: center !important;
  border: none;
  margin-bottom: 23px;
}

.modal-content .container .tab-brand ul li {
  color: rgba(19, 92, 251, 0.42);
  padding: 12px;
  cursor: pointer;
}

.modal-content .container .tab-brand ul li a {
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.02em;
  border: none;
  color: rgba(19, 92, 251, 0.42);
  border-radius: 0;
  border-bottom: 1px solid transparent;
  padding: 0;
}

.modal-content .container .tab-brand ul li .active {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #135CFB;
  color: #0B57FB;
}

.modal-content .container .tab-brand ul li:hover a {
  color: #0B57FB;
}

.modal-content .container .row .col-lg-6 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content .container .row .col-lg-6 h4 {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #3F3D56;
  margin-bottom: 55px;
}

.modal-content .container .row .col-lg-6 .brand-img {
  width: 30%;
  margin-bottom: 43px;
}

.modal-content .container .row .col-lg-6 .tablar .nav12 {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-content .container .row .col-lg-6 .tablar .nav12 .nav-item .nav-link {
  border: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(63, 61, 86, 0.3);
}

.modal-content .container .row .col-lg-6 .tablar .nav12 .nav-item .active {
  font-weight: 500;
  font-size: 50px;
  line-height: 84px;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #3F3D56;
}

.modal-content .container .row .col-lg-6 button {
  padding: 7px 20px;
  margin-top: 60px;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 14px;
}

.modal-content .container .row .col-lg-6 button span {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

@media (max-width: 991px) {
  .brands .nav2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .brands .containert input {
    width: 100% !important;
  }
}

@media (max-width: 991px) {
  .brands .containert ul li {
    margin: 0 !important;
  }
}
/*# sourceMappingURL=Brands.css.map */