.brands {
  background: #EDEDED;

  .logo1 {

    text-align: left !important;
    border: none;

    img {
      width: 20px;
      text-align: left !important;
    }
  }

  .containert {
    width: 70%;
    margin: 0 auto;
    padding-top: 45px;

    .form {
      text-align: center;

      input {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 26px;
      }
    }

    ul {
      margin: 0 auto;
      text-align: center !important;
      // display: ;

      li {
        color: rgba(19, 92, 251, 0.42);
        padding: 12px;

        a {
          font-weight: normal;
          font-size: 18px;
          line-height: 19px;
          letter-spacing: 0.02em;
          color: rgba(19, 92, 251, 0.42);
          border-radius: 0;
          padding: 0;

        }

        .active {
          background-color: transparent;
          border-bottom: 1px solid #135CFB;
          color: #0B57FB;
        }

        &:hover {
          a {
            color: #0B57FB;
          }
        }
      }
    }

    .tab-content {
      h3 {
        font-size: 24px;
        line-height: 29px;
        color: #3F3D56;
        margin-bottom: 52px;
        margin-top: 30px;
      }

      .card {
        padding: 25px 11px 14px 16px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;

        .box3 {

          height: 50px !important;
        }
      }

      p {
        font-size: 12px;
        line-height: 14px;
        color: #3F3D56;
        margin: 0;
      }

      button {
        border: none;
        outline: none;
        background-color: transparent;
        display: inline-block !important;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #135CFB;
        margin-left: auto;
        margin-top: 15px;
      }
    }
  }
}

.modal-content {
  padding-bottom: 40px;

  .container {
    .tab-brand {
      ul {
        margin: 0 auto;
        text-align: center !important;
        border: none;
        margin-bottom: 23px;

        li {
          color: rgba(19, 92, 251, 0.42);
          padding: 12px;
          cursor: pointer;

          a {
            font-weight: normal;
            font-size: 18px;
            line-height: 19px;
            letter-spacing: 0.02em;
            border: none;
            color: rgba(19, 92, 251, 0.42);
            border-radius: 0;
            border-bottom: 1px solid transparent;
            padding: 0;

          }

          .active {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #135CFB;
            color: #0B57FB;
          }

          &:hover {
            a {
              color: #0B57FB;
            }
          }
        }
      }
    }

    .row {
      .col-lg-6 {
        align-items: center;

        h4 {
          font-weight: bold;
          font-size: 22px;
          line-height: 26px;
          text-align: center;
          color: #3F3D56;
          margin-bottom: 55px;
        }

        .brand-img {
          width: 30%;
          margin-bottom: 43px;

        }

        .tablar {
          .nav12 {
            border: none;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .nav-item {

              .nav-link {
                border: none;
                font-weight: 500;
                font-size: 30px;
                line-height: 42px;
                display: flex;
                align-items: flex-end;
                text-align: center;
                letter-spacing: 0.02em;
                color: rgba(63, 61, 86, 0.3);

              }

              .active {
                font-weight: 500;
                font-size: 50px;
                line-height: 84px;
                letter-spacing: 0.02em;
                text-decoration-line: underline;
                color: #3F3D56;

              }
            }
          }
        }

        button {
          padding: 7px 20px;
          margin-top: 60px;

          span {
            font-size: 18px;
            line-height: 22px;
            font-weight: bold;

          }

          font-weight: normal;
          text-align: center;
          color: #FFFFFF;
          font-size: 13px;
          line-height: 14px;

        }
      }
    }
  }

}

@media (max-width:991px) {
  .brands {
    .nav2 {
      display: flex !important;
    }
    .containert{
      input{
        width: 100% !important;
      }
    }
  }
}
@media (max-width:991px) {
  .brands {
    .containert{
      ul{
        li{
          margin: 0 !important;
        }
      }
    }
  }
}