.sideBar .left-site {
  background-color: red;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  z-index: 2;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  padding: 0 15px;
}

.sideBar .left-site .brand h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #0B57FB;
  margin-bottom: 50px;
  margin-top: 47px;
}

.sideBar .left-site .logo img {
  width: 20px;
  cursor: pointer;
}

.sideBar .left-site .box1 {
  height: 76%;
}

.sideBar .left-site .left-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.sideBar .left-site .left-menu li {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
}

.sideBar .left-site .left-menu li:hover {
  background-color: #135CFB;
}

.sideBar .left-site .left-menu li:hover a {
  color: white;
}

.sideBar .left-site .left-menu li:hover span {
  background-color: #fff;
}

.sideBar .left-site .left-menu li a {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
  text-decoration: none;
}

.sideBar .left-site .left-menu li p {
  margin-left: 14px !important;
}

.sideBar .right-site {
  height: 100vh;
  overflow-y: auto;
  position: relative;
  background: #EDEDED;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.openMenu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.closeMenu {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.openNav {
  width: 80%;
  margin-left: 20%;
}

.closeNav {
  width: 100%;
  margin-left: 0;
}

.activePage {
  background-color: #135CFB;
}

.activePage a {
  color: #fff !important;
}

.activePage span {
  background-color: #fff;
}

.modal101 .modal-content {
  padding-bottom: 0;
}

.roww .col-lg-6 .mini-container {
  width: 60%;
  margin: 0 auto;
}

.roww .col-lg-6 .mini-container h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #3F3D56;
  margin-bottom: 59px;
}

.roww .col-lg-6 .mini-container .save {
  text-align: center;
}

.roww .col-lg-6 .mini-container .save button {
  padding: 10px 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 35px;
}

.roww .col-lg-6 .mini-container .save p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #808080;
}

.roww .col-lg-6 .mini-container .save p a {
  font-weight: bold;
}

.roww .col-lg-6 .mini-container .info1 {
  margin-bottom: 20px;
}

.roww .col-lg-6 .mini-container .info1 .info p {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #808080;
}

.roww .col-lg-6 .right-side {
  width: 80%;
  margin-left: auto;
  -webkit-transform: scale();
          transform: scale();
}

.roww .col-lg-6 .right-side .body-tabs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.roww .col-lg-6 .right-side .body-tabs ul {
  border: none;
  margin-bottom: 10px;
  position: absolute;
  bottom: -50px;
  right: 0px;
}

.roww .col-lg-6 .right-side .body-tabs ul li {
  cursor: pointer;
}

.roww .col-lg-6 .right-side .body-tabs ul li a {
  padding: 3px 16px;
  background: linear-gradient(180.54deg, #0B57FB -109.48%, rgba(255, 255, 255, 0) 99.53%), linear-gradient(180.54deg, #0B57FB -109.48%, rgba(255, 255, 255, 0) 99.53%);
  border-radius: 5px;
  border: none !important;
}

.roww .col-lg-6 .right-side .body-tabs ul li .active {
  color: red;
  background: linear-gradient(180.54deg, #417dff -109.48%, rgba(255, 255, 255, 0) 99.53%), #417dff;
}

@media (max-width: 991px) {
  .sideBar .left-site {
    width: 30%;
  }
  .sideBar .left-site .logo {
    display: none;
  }
  .sideBar .openNav {
    width: 70%;
    margin-left: 30%;
  }
}

@media (max-width: 576px) {
  .sideBar {
    background-color: transparent;
  }
  .sideBar .left-site {
    background-color: #353535;
    width: 50%;
    position: absolute;
  }
  .sideBar .openNav {
    width: 100%;
    margin-left: 0%;
  }
}
/*# sourceMappingURL=Sidebar.css.map */