.sideBar {
  .left-site {
    background-color: red;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    z-index: 2;
    transition: 0.5s linear;
    padding: 0 15px;

    .brand {
      h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #0B57FB;
        margin-bottom: 50px;
        margin-top: 47px;
      }
    }

    .logo {
      img {
        width: 20px;
        cursor: pointer;
      }
    }

    .box1 {
      height: 76%;
    }

    .left-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;

      li {
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        width: 100%;
        cursor: pointer;

        &:hover {
          background-color: #135CFB;

          a {
            color: white;

          }

          span {
            background-color: #fff;
          }
        }

        a {
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          color: #CCCCCC;
          text-decoration: none;
        }

        p {
          margin-left: 14px !important;
        }
      }
    }
  }

  .right-site {
    height: 100vh;
    overflow-y: auto;
    position: relative;
    background: #EDEDED;
    transition: 0.5s linear;
  }
}




.openMenu {
  transform: translateX(0);
}

.closeMenu {
  transform: translateX(-100%);
}

.openNav {
  width: 80%;
  margin-left: 20%;
}

.closeNav {
  width: 100%;
  margin-left: 0;
}

.activePage {
  background-color: #135CFB;

  a {
    color: #fff !important;

  }

  span {
    background-color: #fff;
  }
}

.modal101 {

  .modal-content {
    padding-bottom: 0;
  }
}

.roww {
  .col-lg-6 {
    .mini-container {
      width: 60%;
      margin: 0 auto;

      h4 {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #3F3D56;
        margin-bottom: 59px;
      }

      .save {
        text-align: center;

        button {
          padding: 10px 26px;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          margin: 0 auto;
          margin-top: 39px;
          margin-bottom: 35px;
        }

        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #808080;

          a {
            font-weight: bold;
          }
        }
      }

      .info1 {

        margin-bottom: 20px;

        .info {

          p {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #808080;
          }
        }
      }
    }
  }

  .col-lg-6 {
    .right-side {
      width: 80%;
      margin-left: auto;
      transform: scale();

      .body-tabs {
        position: relative;
        display: flex;
        align-items: center;
        align-items: flex-end;
        // height: 100%;


        ul {
          border: none;
          margin-bottom: 10px;
          position: absolute;
          bottom: -50px;
          right: 0px;

          li {
            cursor: pointer;

            a {
              padding: 3px 16px;
              background: linear-gradient(180.54deg, #0B57FB -109.48%, rgba(255, 255, 255, 0) 99.53%), linear-gradient(180.54deg, #0B57FB -109.48%, rgba(255, 255, 255, 0) 99.53%);
              border-radius: 5px;
              border: none !important;
            }

            .active {
              color: red;
              background: linear-gradient(180.54deg, #417dff -109.48%, rgba(255, 255, 255, 0) 99.53%), #417dff;
            }
          }
        }
      }
    }

  }
}

@media(max-width:991px) {
  .sideBar {

    .left-site {
      width: 30%;
      .logo{
        display: none;
      }
    }

    .openNav {
      width: 70%;
      margin-left: 30%;
    }
  }
}

@media(max-width:576px) {
  .sideBar {
    background-color: transparent;


    .left-site {
      background-color: rgb(53, 53, 53);
      width: 50%;
      position: absolute;
    }

    .openNav {
      width: 100%;
      margin-left: 0%;
    }
  }
}