.navbar00 {
  display: none !important;
}

.navbar00 .nav2 {
  padding: 10px 30px;
  background-color: #fff;
}

.navbar00 .nav2 .logo img {
  width: 20px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .navbar00 {
    display: block !important;
  }
}
/*# sourceMappingURL=Navbar.css.map */