.navbar00{

	display: none !important;
	.nav2 {
		padding: 10px 30px;
		background-color: #fff;
	
		.logo {
			img {
				width: 20px;
				cursor: pointer;
			}
		}
	}
}
@media(max-width: 991px){
	.navbar00{
		display: block !important;
	}
}
