.section-1 {
  min-height: 100vh;
  padding: 43px 0;
  background: linear-gradient(89.77deg, #FEFFFF 69.7%, #135CFB 307.08%, #0B57FB 307.11%);
}

.section-1 .containerf {
  width: 90%;
  margin: 0 auto;
}

.section-1 .containerf h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #0B57FB;
}

.section-1 .containerf .row {
  margin-top: 65px;
}

.section-1 .containerf .row .col-lg-6 .container1 {
  margin: 0 auto;
  width: 70% !important;
}

.section-1 .containerf .row .col-lg-6 .container1 h3 {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #3F3D56;
  margin-bottom: 42px;
}

.section-1 .containerf .row .col-lg-6 .container1 .btn1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3F3D56;
  background: rgba(11, 87, 251, 0.05);
  border: 1px solid rgba(11, 87, 251, 0.42);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 23px;
}

.section-1 .containerf .row .col-lg-6 .container1 .div-2 {
  margin: 32px 0;
  margin-bottom: 20px;
}

.section-1 .containerf .row .col-lg-6 .container1 .div-2 hr {
  height: 1px !important;
  margin: 0;
  width: 100% !important;
}

.section-1 .containerf .row .col-lg-6 .container1 .div-2 p {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #DADADA;
  margin: 0 8px;
}

.section-1 .containerf .row .col-lg-6 .container1 .invalidEnter {
  color: red;
  text-align: center;
}

.section-1 .containerf .row .col-lg-6 .container1 .link1 {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  display: block;
}

.section-1 .containerf .row .col-lg-6 .container1 h6 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #808080;
  margin-top: 52px;
}

.section-1 .containerf .row .col-lg-6 .container1 h6 a {
  font-weight: 400;
}

.section-1 .containerf .row .second-part {
  height: 90%;
}

.section-1 .containerf .row .second-part .container2 {
  margin: 0 auto;
  width: 60% !important;
}

.section-1 .containerf .row .second-part .slide1 ol {
  bottom: -70px !important;
}

.section-1 .containerf .row .second-part .slide1 ol li {
  width: 10px;
  height: 10px;
  background-color: rgba(196, 196, 196, 0.73);
  border-radius: 50%;
}

.section-1 .containerf .row .second-part .slide1 h3 {
  margin-top: 49px;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #3F3D56;
  margin-bottom: 18px;
}

.section-1 .containerf .row .second-part .slide1 p {
  font-weight: normal;
  font-size: 13px;
  line-height: 117.9%;
  text-align: center;
  color: #3F3D56;
  width: 90%;
  margin: 0 auto;
}
/*# sourceMappingURL=Section.css.map */