* {
  font-family: "Lato", sans-serif;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  background-color: #CCCCCC;
  vertical-align: middle;
}

.icon-home {
  width: 25px;
  height: 21px;
  mask-image: url("../src/components/Sections/image/home.svg");
  -webkit-mask-image: url("../src/components/Sections/image/home.svg");
}

.icon-settings {
  width: 24px;
  height: 24px;
  mask-image: url("../src/components/Sections/image/settings.svg");
  -webkit-mask-image: url("../src/components/Sections/image/settings.svg");
}

.icon-info {
  width: 24px;
  height: 24px;
  mask-image: url("../src/components/Sections/image/info.svg");
  -webkit-mask-image: url("../src/components/Sections/image/info.svg");
}

.icon-exit {
  width: 24px;
  height: 24px;
  mask-image: url("../src/components/Sections/image/exit.svg");
  -webkit-mask-image: url("../src/components/Sections/image/exit.svg");
}
/*# sourceMappingURL=index.css.map */